.containerRoot{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
  grid-gap: 10px;
}
img{
  width: 80px;
}

.form-list{
  display: flex;
  padding: 2px;
  gap: 12px;
}
.text-error{
  color:red;
}
/*NavBar*/
.linkMenu{
  text-decoration: none;
  color:white;
  margin:  10px;
}
.is-active {
  border-bottom: 5px solid darkblue;
}

/*FormLogin*/
.formLogin{
  display: flex;
  justify-content: center;
}

@media (max-width: 899px) { 
.linkMenu{
  color:black;
  text-align: left;
  display: block;
}
}